name: Analyse PHP files

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  analyse-php:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ["8.4"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: phpstan

      - name: Analyse files with PHPStan
        run: phpstan analyse --level 6 ./contrib-merge
